/* CSS Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	display: block;
	width: 100%;
}

body {
	font-family: 'Poppins', sans-serif;
	background-image: url(./src/page-background.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.container {
	max-width: 1205px;
	margin-inline: auto;
	padding: 3rem;
}

/* Nav Styles ------------- */

nav {
	display: flex;
	justify-content: space-between;
	padding-block: 0.875rem;
}

.nav-primary,
.nav-secondary {
	display: flex;
	gap: 2rem;
}

.cta-link {
	background-color: #000000;
	color: #ffffff;
	padding: 0.75rem 0.875rem;
	border-radius: 0.375rem;
}

/* Hero Styles ------------- */
.hero {
	display: grid;
	place-items: center;
}

.hero > * {
	text-align: center;
}

h1 {
	font-weight: 700;
	font-size: 4.75rem;
	line-height: 1.2;
	margin-bottom: 0.875rem;
}

h2 {
	font-weight: 300;
	font-size: 1.5rem;
	max-width: 57ch;
}

/* Main Styles ------------- */
.grid-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 5.25rem;
	background-color: rgba(255, 255, 255, 0.64);
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(32px);
	border-radius: 12px;
}

.tag {
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.08);
	padding: 0.5rem;
	border-radius: 6px;
	font-size: 0.625rem;
}

h3 {
	font-size: 2rem;
}

.app {
	display: flex;
	gap: 0.875rem;
	align-items: center;
}

.learn-more {
	max-width: 35ch;
}

main .cta-link {
	margin-top: 3rem;
}

.grid-element-text {
	display: flex;
	gap: 0.5rem;
	flex-direction: column;
	align-items: flex-start;
}
